<template>
    <template if:true={data}>
        <template for:each={data} for:item='item' for:index='indexVar'>
            <div key={item.Id} class="slds-grid slds-wrap">
                <div class="slds-col slds-size_3-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                    <lightning-button-icon icon-name="utility:chevronright" variant="bare" value={indexVar} onclick={toggleAccordian}></lightning-button-icon>
                    <span>{item.name}</span>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                    <span>{item.value1}</span>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                    <span>{item.value2}</span>
                </div>
                <div class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                    <span>{item.value3}</span>
                </div>
                <div class="slds-col slds-size_3-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                    <span>{item.result}</span>
                </div>
                <template if:true={item.expanded}>
                    <template for:each={item.childData} for:item='childItem'>
                        <div key={childItem.Id} class="slds-col slds-size_3-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                            <span>{childItem.name}</span>
                        </div>
                        <div key={childItem.Id}  class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                            <span>{childItem.value1}</span>
                        </div>
                        <div key={childItem.Id}  class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                            <span>{childItem.value2}</span>
                        </div>
                        <div key={childItem.Id}  class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                            <span>{childItem.value3}</span>
                        </div>
                        <div key={childItem.Id}  class="slds-col slds-size_3-of-12 slds-p-around_small slds-border_bottom slds-border_right slds-border_left slds-border_top">
                            <span>{childItem.result}</span>
                        </div>
                    </template>
                </template>
            </div>
        </template>
    </template>
</template>